In [2]:
import numpy as np
import pandas as pd

In [3]:
index=[('CL',2000),('CL',2010),('NY',2000),
       ('NY',2010),('TX',2000),('TX',2010)]
pop=[338,372,189,193,208,251]
pop_S=pd.Series(pop,index=index)
pop_S

(CL, 2000)    338
(CL, 2010)    372
(NY, 2000)    189
(NY, 2010)    193
(TX, 2000)    208
(TX, 2010)    251
dtype: int64

In [4]:
index=pd.MultiIndex.from_tuples(index)
index

MultiIndex([('CL', 2000),
            ('CL', 2010),
            ('NY', 2000),
            ('NY', 2010),
            ('TX', 2000),
            ('TX', 2010)],
           )

In [5]:
pop_S=pop_S.reindex(index)
pop_S

CL  2000    338
    2010    372
NY  2000    189
    2010    193
TX  2000    208
    2010    251
dtype: int64

In [6]:
pop_S[:,2010]

CL    372
NY    193
TX    251
dtype: int64

In [7]:
pop_df=pop_S.unstack()
pop_df

    2000  2010
CL   338   372
NY   189   193
TX   208   251

In [8]:
pop_df.stack()

CL  2000    338
    2010    372
NY  2000    189
    2010    193
TX  2000    208
    2010    251
dtype: int64

In [9]:
pop_df=pd.DataFrame({'total':pop_S,'under 18':[9267,9284,4687,4318,5906,6879]})
pop_df

         total  under 18
CL 2000    338      9267
   2010    372      9284
NY 2000    189      4687
   2010    193      4318
TX 2000    208      5906
   2010    251      6879

In [11]:
f_u18=pop_df['under 18']/pop_df['total']
f_u18.unstack()

         2000       2010
CL  27.417160  24.956989
NY  24.798942  22.373057
TX  28.394231  27.406375

In [12]:
df=pd.DataFrame(np.random.rand(4,2),
                index=[['a','a','b','b'],[1,2,1,2,]],
                columns=['data1','data2'])
df

        data1     data2
a 1  0.452573  0.568668
  2  0.230726  0.113107
b 1  0.711337  0.534846
  2  0.334955  0.224000

In [14]:
data={('CL',2000):338,('CL',2010):372,
      ('TX',2000):372,('TX',2010):251,
      ('NY',2000):189,('NY',2010):193}
pd.Series(data)

CL  2000    338
    2010    372
TX  2000    372
    2010    251
NY  2000    189
    2010    193
dtype: int64

In [15]:
pd.MultiIndex.from_product([['a','b'],[1,2]])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [18]:
pop_S.index.names=['state','year']
pop_S

state  year
CL     2000    338
       2010    372
NY     2000    189
       2010    193
TX     2000    208
       2010    251
dtype: int64