In [1]:
import numpy as np
import pandas as pd

In [2]:
index=[('CL',2000),('CL',2010),('NY',2000),
       ('NY',2010),('TX',2000),('TX',2010)]
pop=[338,372,189,193,208,251]
pop_S=pd.Series(pop,index=index)
pop_S

(CL, 2000)    338
(CL, 2010)    372
(NY, 2000)    189
(NY, 2010)    193
(TX, 2000)    208
(TX, 2010)    251
dtype: int64

In [3]:
index=pd.MultiIndex.from_tuples(index)
index

MultiIndex([('CL', 2000),
            ('CL', 2010),
            ('NY', 2000),
            ('NY', 2010),
            ('TX', 2000),
            ('TX', 2010)],
           )

In [4]:
pop_S=pop_S.reindex(index)
pop_S

CL  2000    338
    2010    372
NY  2000    189
    2010    193
TX  2000    208
    2010    251
dtype: int64

In [5]:
pop_S[:,2010]

CL    372
NY    193
TX    251
dtype: int64

In [6]:
pop_df=pop_S.unstack()
pop_df

    2000  2010
CL   338   372
NY   189   193
TX   208   251

In [7]:
pop_df.stack()

CL  2000    338
    2010    372
NY  2000    189
    2010    193
TX  2000    208
    2010    251
dtype: int64

In [8]:
pop_df=pd.DataFrame({'total':pop_S,'under 18':[9267,9284,4687,4318,5906,6879]})
pop_df

         total  under 18
CL 2000    338      9267
   2010    372      9284
NY 2000    189      4687
   2010    193      4318
TX 2000    208      5906
   2010    251      6879

In [9]:
f_u18=pop_df['under 18']/pop_df['total']
f_u18.unstack()

         2000       2010
CL  27.417160  24.956989
NY  24.798942  22.373057
TX  28.394231  27.406375

In [10]:
df=pd.DataFrame(np.random.rand(4,2),
                index=[['a','a','b','b'],[1,2,1,2,]],
                columns=['data1','data2'])
df

        data1     data2
a 1  0.485826  0.848079
  2  0.030271  0.624371
b 1  0.093913  0.013675
  2  0.836403  0.606600

In [11]:
data={('CL',2000):338,('CL',2010):372,
      ('TX',2000):372,('TX',2010):251,
      ('NY',2000):189,('NY',2010):193}
pd.Series(data)

CL  2000    338
    2010    372
TX  2000    372
    2010    251
NY  2000    189
    2010    193
dtype: int64

In [12]:
pd.MultiIndex.from_product([['a','b'],[1,2]])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [13]:
pop_S.index.names=['state','year']
pop_S

state  year
CL     2000    338
       2010    372
NY     2000    189
       2010    193
TX     2000    208
       2010    251
dtype: int64

In [16]:
index=pd.MultiIndex.from_product([[2013,2014],[1,2]],
                                 names=['years','visit'])
columns=pd.MultiIndex.from_product([['Bob','Guido','Sue'],['HR','Temp']],
                                   names=['subject',type])
data=np.round(np.random.randn(4,6),1)
data[:,::2]*=10
data+=37
health_data=pd.DataFrame(data,index=index,columns = columns)
health_data

subject          Bob       Guido         Sue
<class 'type'>    HR  Temp    HR  Temp    HR  Temp
years visit
2013  1         47.0  37.2  54.0  38.1  33.0  37.6
      2         26.0  36.6  29.0  37.8  67.0  37.8
2014  1         35.0  39.8  29.0  37.1  25.0  36.7
      2         44.0  36.4  36.0  37.7  49.0  38.7

In [17]:
health_data['Guido']

<class 'type'>    HR  Temp
years visit
2013  1         54.0  38.1
      2         29.0  37.8
2014  1         29.0  37.1
      2         36.0  37.7

In [18]:
pop_S

state  year
CL     2000    338
       2010    372
NY     2000    189
       2010    193
TX     2000    208
       2010    251
dtype: int64

In [19]:
pop_S['CL',2000]

338

In [20]:
pop_S.loc['CL':'TX']

state  year
CL     2000    338
       2010    372
NY     2000    189
       2010    193
TX     2000    208
       2010    251
dtype: int64

In [21]:
pop_S[:,2000]

state
CL    338
NY    189
TX    208
dtype: int64

In [35]:
pop_S[pop_S>200]

state  year
CL     2000    338
       2010    372
TX     2000    208
       2010    251
dtype: int64

In [36]:
idx=pd.IndexSlice
health_data.loc[idx[:,1],idx[:,'HR']]

subject          Bob Guido   Sue
<class 'type'>    HR    HR    HR
years visit
2013  1         47.0  54.0  33.0
2014  1         35.0  29.0  25.0