In [1]:
import numpy as np
import pandas as pd

In [2]:
vals1=np.array([1,None,3,4])
vals1

array([1, None, 3, 4], dtype=object)

In [4]:
vals1.sum()

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [7]:
vals2=np.array([1,np.nan,3,4])
vals2.dtype

dtype('float64')

In [10]:
print(vals2.sum())
print(vals2.min())
print(vals2.mean())

nan
nan
nan

In [11]:
np.nansum(vals2),np.nanmin(vals2),np.nanmean(vals2)

(8.0, 1.0, 2.6666666666666665)

In [12]:
pd.Series([1,np.nan,3,None])

0    1.0
1    NaN
2    3.0
3    NaN
dtype: float64

In [14]:
x=pd.Series(range(2),dtype=int)
x

0    0
1    1
dtype: int32

In [16]:
x[0]=None
x

0    NaN
1    1.0
dtype: float64

In [19]:
data=pd.Series([1,np.nan,'hello',None])
data.isnull()

0    False
1     True
2    False
3     True
dtype: bool

In [20]:
data[data.notnull()]

0        1
2    hello
dtype: object

In [21]:
data

0        1
1      NaN
2    hello
3     None
dtype: object

In [22]:
data.dropna()

0        1
2    hello
dtype: object

In [23]:
df=pd.DataFrame([[1,np.nan,2],
                 [2,3,5],
                 [np.nan,4,6]])
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [24]:
df.dropna()

     0    1  2
1  2.0  3.0  5

In [26]:
df.dropna(axis=1)

   2
0  2
1  5
2  6

In [28]:
df[3]=np.nan
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [29]:
df.dropna(axis=1,how='all')

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [31]:
df.dropna(axis=0,thresh=3)

     0    1  2   3
1  2.0  3.0  5 NaN

In [33]:
df[df.isnull()]=0
df

     0    1  2    3
0  1.0  0.0  2  0.0
1  2.0  3.0  5  0.0
2  0.0  4.0  6  0.0

In [34]:
data=pd.Series([1,np.nan,2,None,3],index=list('abcde'))
data

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

In [35]:
data.fillna(0)

a    1.0
b    0.0
c    2.0
d    0.0
e    3.0
dtype: float64

In [36]:
data.fillna(method='ffill')

a    1.0
b    1.0
c    2.0
d    2.0
e    3.0
dtype: float64

In [37]:
data.fillna(method = 'bfill')

a    1.0
b    2.0
c    2.0
d    3.0
e    3.0
dtype: float64

In [41]:
df=pd.DataFrame([[1,np.nan,2],
                 [2,3,5],
                 [np.nan,4,6]])
df['3']=np.nan
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [44]:
df.fillna(method='ffill',axis=1)

     0    1    2    3
0  1.0  1.0  2.0  2.0
1  2.0  3.0  5.0  5.0
2  NaN  4.0  6.0  6.0