In [46]:
import numpy as np
import pandas as pd

In [47]:
data=pd.Series([0.25*i for i in range(1,5)],
               index=['a','b','c','d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [48]:
print('a' in data)
print(data.keys())
print(list(data.items()))

True
Index(['a', 'b', 'c', 'd'], dtype='object')
[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [49]:
data['e']=1.25
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

In [50]:
print(data['a':'b'])
print(data[0:2])
print(data[(data>0.3)&(data<8)])
print(data[['a','d']])

a    0.25
b    0.50
dtype: float64
a    0.25
b    0.50
dtype: float64
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64
a    0.25
d    1.00
dtype: float64

In [51]:
data=pd.Series(['a','b','c'],index=[1,3,5])
data

1    a
3    b
5    c
dtype: object

In [52]:
print(data[1])
print(data[1:3])

a
3    b
5    c
dtype: object

In [53]:
print(data.iloc[1])
print(data.iloc[1:3])

b
3    b
5    c
dtype: object

In [54]:
print(data.loc[1])
print(data.loc[1:3])

a
1    a
3    b
dtype: object

In [55]:
area=pd.Series({'CA':42397,'TX':695662,'NY':141297,'FL':170312,'IL':149995})
pop=pd.Series({'CA':38332521,'TX':26448193,'NY':19651127,'FL':19552860,'IL':12882135})

data=pd.DataFrame({'area':area,'pop':pop})
data

      area       pop
CA   42397  38332521
TX  695662  26448193
NY  141297  19651127
FL  170312  19552860
IL  149995  12882135

In [56]:
data['area']

CA     42397
TX    695662
NY    141297
FL    170312
IL    149995
Name: area, dtype: int64

In [57]:
data.area

CA     42397
TX    695662
NY    141297
FL    170312
IL    149995
Name: area, dtype: int64

In [58]:
print(data.area is data['area'])
print(data.pop is data['pop'])

True
False

In [59]:
data['density']=data['pop']/data['area']
data

      area       pop     density
CA   42397  38332521  904.132863
TX  695662  26448193   38.018740
NY  141297  19651127  139.076746
FL  170312  19552860  114.806121
IL  149995  12882135   85.883763

In [60]:
data.values

array([[4.23970000e+04, 3.83325210e+07, 9.04132863e+02],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01]])

In [61]:
data.T

                   CA            TX            NY            FL            IL
area     4.239700e+04  6.956620e+05  1.412970e+05  1.703120e+05  1.499950e+05
pop      3.833252e+07  2.644819e+07  1.965113e+07  1.955286e+07  1.288214e+07
density  9.041329e+02  3.801874e+01  1.390767e+02  1.148061e+02  8.588376e+01

In [62]:
print(data.values[0])
print(data['area'])

[4.23970000e+04 3.83325210e+07 9.04132863e+02]
CA     42397
TX    695662
NY    141297
FL    170312
IL    149995
Name: area, dtype: int64

In [63]:
print(data.iloc[:3,:2])
print(data.loc[:'NY',:'pop'])

      area       pop
CA   42397  38332521
TX  695662  26448193
NY  141297  19651127
      area       pop
CA   42397  38332521
TX  695662  26448193
NY  141297  19651127

In [64]:
data.loc[data.density>100,['pop','density']]

         pop     density
CA  38332521  904.132863
NY  19651127  139.076746
FL  19552860  114.806121

In [65]:
print(data)
data.loc[['CA'],['pop']]=49887700
print(data)

      area       pop     density
CA   42397  38332521  904.132863
TX  695662  26448193   38.018740
NY  141297  19651127  139.076746
FL  170312  19552860  114.806121
IL  149995  12882135   85.883763
      area       pop     density
CA   42397  49887700  904.132863
TX  695662  26448193   38.018740
NY  141297  19651127  139.076746
FL  170312  19552860  114.806121
IL  149995  12882135   85.883763

In [69]:
print(data['FL':'IL'])
print(data[3:5])
data[data.density>100]

      area       pop     density
FL  170312  19552860  114.806121
IL  149995  12882135   85.883763
      area       pop     density
FL  170312  19552860  114.806121
IL  149995  12882135   85.883763

      area       pop     density
CA   42397  49887700  904.132863
NY  141297  19651127  139.076746
FL  170312  19552860  114.806121