In [34]:
import pandas as pd
import numpy as np
pd.__version__

'0.25.1'

In [3]:
data=pd.Series([0.25,0.5,0.75,1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [6]:
print(data.values)
print(data.index)

print(data[1])
print(data[1:3])

[0.25 0.5  0.75 1.  ]
RangeIndex(start=0, stop=4, step=1)
0.5
1    0.50
2    0.75
dtype: float64

In [7]:
data=pd.Series([0.25,0.5,0.75,1.0],
               index=['a','b','c','d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [8]:
temp_dic={'Seoul':38,
          'Daegu':42,
          'Busan':39,
          'Incheon':37}
temp=pd.Series(temp_dic)
temp

Seoul      38
Daegu      42
Busan      39
Incheon    37
dtype: int64

In [11]:
print(temp['Seoul'])
print(temp['Seoul':'Busan'])

38
Seoul    38
Daegu    42
Busan    39
dtype: int64

In [15]:
pd.Series(5,index=[100,200,300])

100    5
200    5
300    5
dtype: int64

In [16]:
pd.Series({2:'a',1:'b',3:'c'})

2    a
1    b
3    c
dtype: object

In [18]:
pd.Series({2:'a',1:'b',3:'c'},index=[3,2])

3    c
2    a
dtype: object

In [22]:
rain_dic={'Seoul':100,'Daegu':0,'Busan':30,'Incheon':80}
rain=pd.Series(rain_dic)
cities=pd.DataFrame({'temp':temp,'rain':rain})
cities

         temp  rain
Seoul      38   100
Daegu      42     0
Busan      39    30
Incheon    37    80

In [29]:
print(cities.index)
print(cities.columns)
print(cities['rain'])

Index(['Seoul', 'Daegu', 'Busan', 'Incheon'], dtype='object')
Index(['temp', 'rain'], dtype='object')
Seoul      100
Daegu        0
Busan       30
Incheon     80
Name: rain, dtype: int64

In [30]:
pd.DataFrame(cities,columns = ['rain'])

         rain
Seoul     100
Daegu       0
Busan      30
Incheon    80

In [31]:
data=[{'a':i,'b':i*2} for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [32]:
pd.DataFrame([{'a':1,'b':2},{'b':5,'c':4}])

     a  b    c
0  1.0  2  NaN
1  NaN  5  4.0

In [35]:
pd.DataFrame(np.random.rand(3,2),
             columns = ['foo','bar'],
             index = ['a','b','c'])

        foo       bar
a  0.063618  0.569486
b  0.462458  0.018832
c  0.692529  0.612670

In [42]:
A=np.zeros(3,dtype=[('A','i8'),('B','f8')])
print(A)
print(pd.DataFrame(A))

[(0, 0.) (0, 0.) (0, 0.)]
   A    B
0  0  0.0
1  0  0.0
2  0  0.0

In [48]:
ind=pd.Index([4*i for i in range(5)])
ind2=pd.Index([2*i for i in range(5)])
print(ind[1])
print(ind&ind2)
print(ind|ind2)
print(ind^ind2)

4
Int64Index([0, 4, 8], dtype='int64')
Int64Index([0, 2, 4, 6, 8, 12, 16], dtype='int64')
Int64Index([2, 6, 12, 16], dtype='int64')