In [1]:
import numpy as np
import pandas as pd

In [2]:
rng=np.random.RandomState(42)
ser=pd.Series(rng.randint(0,10,4))
ser

0    6
1    3
2    7
3    4
dtype: int32

In [15]:
df=pd.DataFrame(rng.randint(0,10,(3,4)),
                columns=['A','B','C','D'],
                #index = ['a','b','c']
                )
df

   A  B  C  D
0  8  8  0  8
1  6  8  7  0
2  7  7  2  0

In [16]:
print(np.exp(ser))
print(np.sin(df*np.pi/4))

0     403.428793
1      20.085537
2    1096.633158
3      54.598150
dtype: float64
              A             B         C             D
0 -2.449294e-16 -2.449294e-16  0.000000 -2.449294e-16
1 -1.000000e+00 -2.449294e-16 -0.707107  0.000000e+00
2 -7.071068e-01 -7.071068e-01  1.000000  0.000000e+00

In [ ]:
temp=pd.Series({'AL':-17,'TX':26,'CL':20},name='area')
rain=pd.Series({})