In [36]:
import numpy as np
import pandas as pd

In [37]:
index=pd.MultiIndex.from_product([['a','c','b'],[1,2]])
data=pd.Series(np.random.rand(6),index=index)
data.index.names=['char','int']
data

char  int
a     1      0.567184
      2      0.833794
c     1      0.025140
      2      0.471399
b     1      0.192448
      2      0.074636
dtype: float64

In [38]:
try:
    data['a','b']
except KeyError as e:
    print(type(e))
    print(e)

<class 'KeyError'>
('a', 'b')

In [39]:
data=data.sort_index()
data

char  int
a     1      0.567184
      2      0.833794
b     1      0.192448
      2      0.074636
c     1      0.025140
      2      0.471399
dtype: float64

In [40]:
data.sort_values()
data

char  int
a     1      0.567184
      2      0.833794
b     1      0.192448
      2      0.074636
c     1      0.025140
      2      0.471399
dtype: float64

In [41]:
index=pd.MultiIndex.from_product([['CL','NY','TX'],[2000,2010]],
                                 names = ['states', 'years'])
value=[364,354,246,785,324,164]
pop=pd.Series(value,index)
pop

states  years
CL      2000     364
        2010     354
NY      2000     246
        2010     785
TX      2000     324
        2010     164
dtype: int64

In [42]:
pop.unstack(level=0)

states   CL   NY   TX
years
2000    364  246  324
2010    354  785  164

In [43]:
pop.unstack(level=1)

years   2000  2010
states
CL       364   354
NY       246   785
TX       324   164

In [44]:
pop.unstack(level = 0).stack()

years  states
2000   CL        364
       NY        246
       TX        324
2010   CL        354
       NY        785
       TX        164
dtype: int64

In [45]:
pop_flat=pop.reset_index(name='pop')
pop_flat

  states  years  pop
0     CL   2000  364
1     CL   2010  354
2     NY   2000  246
3     NY   2010  785
4     TX   2000  324
5     TX   2010  164

In [46]:
index=pd.MultiIndex.from_product([[2013,2014],[1,2]],
                                 names=['years','visit'])
columns=pd.MultiIndex.from_product([['Bob','Guido','Sue'],['HR','Temp']],
                                   names=['subject','type'])
data=np.round(np.random.randn(4,6),1)
data[:,::2]*=10
data+=37
health_data=pd.DataFrame(data,index=index,columns = columns)
health_data

subject       Bob       Guido         Sue
type           HR  Temp    HR  Temp    HR  Temp
years visit
2013  1      57.0  36.6  47.0  39.5  26.0  37.9
      2      31.0  36.7  28.0  37.3  30.0  37.5
2014  1      36.0  37.9  58.0  37.4  28.0  34.8
      2      39.0  36.1  35.0  36.4  39.0  36.8

In [47]:
data_mean=health_data.mean(level='years')
data_mean

subject   Bob        Guido         Sue
type       HR   Temp    HR  Temp    HR  Temp
years
2013     44.0  36.65  37.5  38.4  28.0  37.7
2014     37.5  37.00  46.5  36.9  33.5  35.8

In [49]:
data_mean.mean(axis=1,level='type')

type          HR       Temp
years
2013   36.500000  37.583333
2014   39.166667  36.566667