In [2]:
import numpy as np
import pandas as pd

In [3]:
def make_df(cols,ind):
    """빠르게 DataFrame 생성"""
    data={c:[str(c)+str(i) for i in ind] for c in cols}
    return pd.DataFrame(data,ind)

In [4]:
make_df('ABC',range(3))

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2

In [5]:
x=[1,2,3]
y=[4,5,6]
z=[7,8,9]
np.concatenate([x,y,z])

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [9]:
x=[[1,2],[3,4]]
np.concatenate([x,x],axis=1)

array([[1, 2, 1, 2],
       [3, 4, 3, 4]])

In [11]:
ser1=pd.Series(['A','B','C'],index=[1,2,3])
ser2=pd.Series(['D','E','F'],index=[4,5,6])
pd.concat([ser1,ser2])

1    A
2    B
3    C
4    D
5    E
6    F
dtype: object

In [13]:
df1=make_df('AB',[1,2])
df2=make_df('AB',[3,4])
print(df1);print(df2);print(pd.concat([df1,df2]))

    A   B
1  A1  B1
2  A2  B2
    A   B
3  A3  B3
4  A4  B4
    A   B
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4

In [17]:
df3=make_df('CD',[1,2])
pd.concat([df1,df3],axis=1)

    A   B   C   D
1  A1  B1  C1  D1
2  A2  B2  C2  D2

In [21]:
x=make_df('AB',[0,1])
y=make_df('AB',[2,3])
y.index=x.index
print(x);print(y);print(pd.concat([x,y]))

    A   B
0  A0  B0
1  A1  B1
    A   B
0  A2  B2
1  A3  B3
    A   B
0  A0  B0
1  A1  B1
0  A2  B2
1  A3  B3

In [23]:
try:
    pd.concat([x,y],verify_integrity = True)
except ValueError as e:
    print("ValueError:",e)

ValueError: Indexes have overlapping values: Int64Index([0, 1], dtype='int64')

In [25]:
pd.concat([x,y],ignore_index = True)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3

In [27]:
pd.concat([x,y],keys = ['x','y'])

      A   B
x 0  A0  B0
  1  A1  B1
y 0  A2  B2
  1  A3  B3

In [29]:
df5=make_df('ABC',[1,2])
df6=make_df('BCD',[3,4])
pd.concat([df5,df6])

C:\Users\Hans\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

     A   B   C    D
1   A1  B1  C1  NaN
2   A2  B2  C2  NaN
3  NaN  B3  C3   D3
4  NaN  B4  C4   D4

In [31]:
pd.concat([df5,df6],join = 'inner')

    B   C
1  B1  C1
2  B2  C2
3  B3  C3
4  B4  C4

In [34]:
pd.concat([df5,df6],join_axes = [df5.columns])

C:\Users\Hans\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The join_axes-keyword is deprecated. Use .reindex or .reindex_like on the result to achieve the same functionality.
  """Entry point for launching an IPython kernel.

     A   B   C
1   A1  B1  C1
2   A2  B2  C2
3  NaN  B3  C3
4  NaN  B4  C4